.intersec {
     background-image: url('https://images.unsplash.com/photo-1509718443690-d8e2fb3474b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
     background-size: cover;
     background-position: bottom -400px right 0px;
     background-repeat: no-repeat;
     height: 40vh;
     background-attachment: fixed;
     margin-top: -21%;
     border-radius: 0 0 40% 40%;
}